.headings {
    width: 100vw;
    margin-top: 8rem;
    margin-bottom: 4rem;
    text-align: center;

    &__heading {
        display: block;
        font-size: 2.4rem;
        font-weight: 500;
        color: var(--title-color-dark);
    }

    &__subheading {
        font-weight: 500;
        color: var(--text-color-dark);
    }
}