.navbar {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0%;
  background-color: var(--body-color);
  z-index: 99;
  padding: 1rem 2rem;
  box-shadow: var(--shadow);

  &__inner {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    text-decoration: none;
    width: fit-content;
    padding: 1rem 2.5rem;
    padding-left: 0;
    color: var(--text-color);
    font-size: var(--h3-font-size);
    transition: all 0.3s ease-in;

    &:hover {
      color: var(--title-color-dark);
    }
  }

  &__link {
    text-decoration: none;
    width: fit-content;
    margin-left: 1.8rem;
    color: var(--text-color);
    font-size: var(--normal-font-size);
    font-weight: 400;
    transition: all 0.3s ease-in;

    &:hover {
      color: var(--title-color-dark);
    }
  }
}
