.skill {
    &__name {
        margin-left: 0.6rem;
        font-size: 1rem;
        color: var(--text-color);
    }

    &__icon {
        color: var(--title-color);
    }

    &__level {
        margin-left: 1.6rem;
        font-size: 0.8rem;
    }

    &__container {
        width: 8rem;
        margin-top: 1.6rem;
    }

    &__highlight {
        font-weight: 500;
        color: var(--title-color);
        // color: orangered;
    }
}


.uFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
}