.qualification {
    width: fit-content;
    margin: 0 auto;

    &__section {
        width: 20rem;
        height: 30rem;
        // background-color: orangered;
        padding: 1.6rem 2.4rem;
        text-align: center;
        transition: all 0.3s ease;
    }

    &__head {
        transition: all 0.3s ease;
        border-bottom: 0.5px solid black;
    }

    &__title {
        color: var(--title-color);
        font-weight: 600;
        margin-left: 0.4rem;
    }

    &__icon {
        font-size: 1.6rem;
        color: var(--title-color);
    }
}

.uMB {
    padding-bottom: 1rem;
    margin-bottom: 3.2rem;
}