.skills {
    width: 76vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
}

.uFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}